<h1>Configuration</h1>
<p>
    To connect to the database, use <a href="{{ app.request.server.get('PHP_MY_ADMIN_DOMAIN') }}" target="_blank">PhpMyAdmin</a> with your user data. <br/>
    On the other hand you can also connect with a tool of your choice! <br/>
<dl>
    <dt>Host</dt>
    <dd>hacktime.de</dd>
    <dt>Port</dt>
    <dd>2705</dd>
    {% if user is defined %}
        <dt>User</dt>
        <dd>{{ user }}</dd>
    {% endif %}
    {% if password is defined %}
        <dt>Password</dt>
        <dd>{{ password }}</dd>
    {% endif %}
</dl>
</p>
<h3>Task:</h3>
<p>
    Open the database and take a look at the existing tables.
</p>
<p>
    <b>When you are done, come back here and press Check</b>
</p>

<h2>Insert Command</h2>
<p>
    A SQL INSERT statement adds one or more records to any single table in a relational database.
</p>

<p>
    It is possible to write the INSERT INTO statement in two ways:

    1. Specify both the column names and the values to be inserted:
</p>
<pre>
INSERT INTO table_name (column1, column2, column3, ...)
VALUES (value1, value2, value3, ...);
</pre>

<p>
    2. If you are adding values for all the columns of the table, you do not need to specify the column names in the SQL query.
    However, make sure the order of the values is in the same order as the columns in the table.
    Here, the INSERT INTO syntax would be as follows:
</p>
<pre>
INSERT INTO table_name
VALUES (value1, value2, value3, ...);
</pre>

<p>
    To insert multiple rows at once it's possible to provide more value statements.
</p>
<pre>
INSERT INTO table_name VALUES
    (value1, value2, value3, ...),
    (value1, value2, value3, ...),
    (value1, value2, value3, ...),
    (value1, value2, value3, ...),
    (value1, value2, value3, ...)
;
</pre>

<p>
    It's also possible to insert rows with the help of a SELECT statement.
</p>
<pre>
INSERT INTO table_name
SELECT column1, column3, column3, column4 FROM table_name2;
</pre>