<div class="message message-success">
    Now you've just finished the basics.
    In the upcoming levels you need to create views to check the results
</div>
<h2>Join</h2>
<p>
    A JOIN clause is used to combine rows from two or more tables, based on a related column between them.
    Let's focus on Inner join
</p>
<h2>Inner Join</h2>
<p>
    Returns records that have matching values in both tables
</p>
<pre>
SELECT column_name(s)
FROM table1
INNER JOIN table2
ON table1.column_name = table2.column_name;
</pre>
<img src="https://www.w3schools.com/sql/img_innerjoin.gif"  alt="SQL INNER JOIN" width="200"/>