<h2>Drop Table</h2>
<p>
    The DROP TABLE statement is used to drop an existing table in a database.
</p>
<pre>
DROP TABLE table_name;
</pre>
<div class="message message-hint">
    <b>Note:</b> Be careful before dropping a table.
    Deleting a table will result in loss of complete information stored in the table!
</div>
