<h1>Dynamic Ultimo View</h1>
<p>The Ultimo View is needed in the following levels, but this Dynamic View is more advanced than some of the following levels. If you get stuck ask for help :)</p>

<h2>Recursive CTE</h2>
<p>

</p>