@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

.message {
    margin: 10px 0;
    padding: 12px;
}

.message i {
    margin: 10px 22px;
    font-size: 2em;
    vertical-align: middle;
}

.message-success {
    color: #4F8A10;
    background-color: #DFF2BF;
}

.message-hint {
    color: #ba9e19;
    background-color: #DFF2BF;
}

.message-error {
    color: #D8000C;
    background-color: #FFD2D2;
}