<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <link href="{{ asset('style.css') }}" type="text/css" rel="stylesheet"/>
    {% endblock %}

    {% block javascripts %}
    {% endblock %}
</head>
<body>
<div class="wrapper">
    {% block body %}
        <div class="content-wrapper">
            {% block heading %}
            {% endblock %}

            {% block messages %}
                {% include 'messages.html.twig' %}
            {% endblock %}

            {% block content %}
            {% endblock %}
        </div>

        {% if user is defined %}
            {% block sidebar_wrapper %}
                <div class="sidebar-wrapper">
                    <div class="sidebar">
                        {% block sidebar %}
                            {% block leaderboard %}
                                {% if level is not defined or level > 0 %}
                                    {{ board.render(user)|raw }}
                                {% endif %}
                            {% endblock %}
                        {% endblock %}
                    </div>
                </div>
            {% endblock %}
        {% endif %}
    {% endblock %}
</div>
</body>
</html>
