<fieldset class="leaderboard">
    <legend>Leaderboard</legend>
    <ul class="leaderboard-list">
        {% for row in leaderBoard %}
            <li><u>{{ row.rank }}</u>: {% if row.level != null %} <span title="Level">{{ row.level }}</span> - {% endif %}<span
                        title="User">{{ row.user }}</span> {% if row.user == user %}(You){% endif %}</li>
        {% endfor %}
    </ul>
</fieldset>