<div class="message-wrapper">
    {% if errorMessage is defined and errorMessage != '' %}
        {% block errorMessage %}
            <div class="message message-error">
                {{ errorMessage }}
            </div>
        {% endblock %}
    {% endif %}
    {% if successMessage is defined %}
        {% block successMessage %}
            <div class="message message-success">
                {{ successMessage }}
            </div>
        {% endblock %}
    {% endif %}
    {% if hintMessage is defined %}
        {% block hintMessage %}
            <div class="message message-hint">
                {{ hintMessage }}
            </div>
        {% endblock %}
    {% endif %}
</div>